.login-card {
  width: 25%;
}

@media screen and (max-width: 576px) {
  .login-card {
    width: 98%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .login-card {
    width: 50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .login-card {
    width: 30%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
  .login-card {
    width: 40%;
  }
}
