<ul class="list-group sidebar">
  <li class="list-group-item" routerLink="/home"><a href="javascript:void(0)">Home</a></li>
  <li class="list-group-item" routerLink="/home"><a href="javascript:void(0)">Home</a></li>
  <li class="list-group-item" routerLink="/home"><a href="javascript:void(0)">Home</a></li>
  <li class="list-group-item" routerLink="/home"><a href="javascript:void(0)">Home</a></li>
  <li class="list-group-item" routerLink="/home"><a href="javascript:void(0)">Home</a></li>
  <li class="list-group-item" routerLink="/home"><a href="javascript:void(0)">Home</a></li>
</ul>
