.sidebar {
  min-height: 100vh;
  background: rgba(28, 33, 41, 1);
}

.sidebar a,
.sidebar a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.sidebar li {
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  border-color: #ddd;
  border-left: 0;
  border-right: 0;
}

.sidebar li:focus {
  outline: 0;
}

.sidebar li:hover {
  background: #363e4a;
}
